body
{
    text-align: center;
    background-image: url("../images/print.jpg");
}

#appContent
{
    text-align: center;
    border: 2px solid black;
    margin: auto;
    width: auto;
    padding: 5px;
    background-color: white;
}